# SF Salaries Exercise
Welcome to a quick exercise for you to practice your pandas skills! We will be using the 
https://www.kaggle.com/datasets/kaggle/sf-salaries Dataset from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

In [1]:
import pandas as pd
import os

In [2]:
pwd

'D:\\DEV_CODE\\DATA_SCIENCE\\ML_PYTHON\\Data_Analysis\\pandas\\Exercises'

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv("D:/DEV_CODE/DATA_SCIENCE/DATA_SETS/SF_Salaries/Salaries.csv") 
# DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.

FileNotFoundError: [Errno 2] No such file or directory: 'D:/DEV_CODE/DATA_SCIENCE/DATA_SETS/SF_Salaries/Salaries'

** Check the head of the DataFrame. **

In [5]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info() #returns number of columns and number of entry rows
          # 148654 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

What is the average BasePay ?

In [20]:
# basePay = sal.groupby('BasePay')

In [6]:
sal.groupby('BasePay').mean()

                     Id  TotalPay  TotalPayBenefits    Year  Notes
BasePay
-166.01        72833.00     83.01             89.57  2012.0    NaN
-121.63        72866.00     61.07             66.51  2012.0    NaN
-109.22        72873.00     54.61             58.93  2012.0    NaN
-106.6         72875.00     53.30             57.96  2012.0    NaN
-101.88        72879.00     51.20             55.75  2012.0    NaN
...                 ...       ...               ...     ...    ...
9991.53       142974.00   9991.53          14008.74  2014.0    NaN
9997.15       143970.00  10318.22          10421.40  2014.0    NaN
9998.60       142583.00   9998.60          15824.17  2014.0    NaN
9999.59       144091.00   9999.59           9999.59  2014.0    NaN
Not Provided  148650.75      0.00              0.00  2014.0    NaN

[109900 rows x 5 columns]

** What is the highest amount of OvertimePay in the dataset ? **

In [8]:
sal.groupby('OvertimePay').max()
#sal['OvertimePay'].max()

C:\Users\iammr\AppData\Local\Temp\ipykernel_4888\3727960697.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  sal.groupby('OvertimePay').max()

,Id,EmployeeName,JobTitle,BasePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency
OvertimePay,,,,,,,,,,,
-0.01,90715,Claudia M Sanchez,Senior Eligibility Worker,75033.03,1540.0,28864.64,76573.02,105437.66,2013,NaN,San Francisco
0.0,131071,Zuri Jones,ZOO CURATOR,319275.01,400184.25,96570.66,567595.43,567595.43,2014,NaN,San Francisco
0.02,44426,Leonid Vaynshteyn,Maintenance Planner,97435.01,9587.68,41501.43,107022.71,148524.14,2012,NaN,San Francisco
0.52,99025,Pamela J Walker,Deputy Sheriff,48955.57,5090.12,17354.01,54046.21,71400.22,2013,NaN,San Francisco
0.77,33722,JANIEN BISHOP,PUBLIC SERVICE AIDE-SPECIAL PROGRAMS,3940.53,26.07,NaN,3967.37,3967.37,2011,NaN,San Francisco
...,...,...,...,...,...,...,...,...,...,...,...
9968.07,136073,Jocelyn F Romero-Toloafa,Nurses Staffing Assistant,42161.53,952.54,22502.44,53082.14,75584.58,2014,NaN,San Francisco
997.69,146533,Jonathan L Dees,Junior Clerk,2264.36,0.00,32.62,3262.05,3294.67,2014,NaN,San Francisco
997.76,134159,Charles D Kesecker,Transit Fare Inspector,55358.41,280.41,27941.98,56636.58,84578.56,2014,NaN,San Francisco
9971.17,132726,Simon Lam,Assistant Cook,50955.01,1177.20,27046.53,62103.38,89149.91,2014,NaN,San Francisco
Not Provided,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco

** What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [10]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [15]:
sal['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [19]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [21]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [25]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [7]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]['EmployeeName']
#or
#sal.iloc[sal['TotalPayBenefits'].argmax()]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [10]:
sal['TotalPayBenefits'].argmin() # will give id location

148653

In [12]:
sal.iloc[sal['TotalPayBenefits'].argmin()] # returns employee name with all details of the particular employee

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [14]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [15]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

** What was the average (mean) TotalPay of all employees per year? (2011-2014) ? **

In [20]:
sal.groupby('Year').mean()['TotalPay']

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

** How many unique job titles are there? **

In [21]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [22]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [24]:
sal[sal['Year']==2013]['JobTitle'].value_counts()

Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
                                  ...
Sr General Utility Mechanic          1
Sprv Adult Prob Ofc (SFERS)          1
Mayoral Staff XII                    1
Pr Investigator, Tax Collector       1
Senior Assessment Clerk              1
Name: JobTitle, Length: 1051, dtype: int64

In [26]:
sal[sal['Year']==2013]['JobTitle'].value_counts() == 1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
                                  ...
Sr General Utility Mechanic        True
Sprv Adult Prob Ofc (SFERS)        True
Mayoral Staff XII                  True
Pr Investigator, Tax Collector     True
Senior Assessment Clerk            True
Name: JobTitle, Length: 1051, dtype: bool

In [27]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [32]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [35]:
chief_string('GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY')

False

In [30]:
sal['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [36]:
sal['JobTitle'].iloc[0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [38]:
sal['JobTitle'].apply(lambda x: chief_string(x))

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [39]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [40]:
sal['title_len'] = sal['JobTitle'].apply(len) # create a new column

In [43]:
sal[['title_len','TotalPayBenefits']]

        title_len  TotalPayBenefits
0              46         567595.43
1              31         538909.28
2              31         335279.91
3              36         332343.61
4              44         326373.19
...           ...               ...
148649          9              0.00
148650         12              0.00
148651         12              0.00
148652         12              0.00
148653         26           -618.13

[148654 rows x 2 columns]

In [44]:
sal[['title_len','JobTitle']]

        title_len                                        JobTitle
0              46  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1              31                 CAPTAIN III (POLICE DEPARTMENT)
2              31                 CAPTAIN III (POLICE DEPARTMENT)
3              36            WIRE ROPE CABLE MAINTENANCE MECHANIC
4              44    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...           ...                                             ...
148649          9                                       Custodian
148650         12                                    Not provided
148651         12                                    Not provided
148652         12                                    Not provided
148653         26                      Counselor, Log Cabin Ranch

[148654 rows x 2 columns]

In [42]:
sal[['title_len','TotalPayBenefits']].corr() # perfectly co related

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [46]:
sal[['title_len','JobTitle']].corr() # No correlation.

           title_len
title_len        1.0