# Data Input and Output
This notebook is the reference code for getting input and output, 
pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

Python can work with the following file formats:

1.  Comma-separated values (CSV)
2.  XLSX
3.  ZIP
4.  Plain Text (txt)
5.  JSON
6.  XML
7.  HTML
8.  Images
9.  Hierarchical Data Format
10. PDF
11. DOCX
12. MP3
13. MP4
14. SQL

#  https://pandas.pydata.org/docs/user_guide/io.html

# READ CSV , EXCEL , HTML , SQL
conda install sqlalchemy
conda install lxml
conda install html5lib
conda install BeautifulSoup4

In [1]:
pwd # check current directory
    # All files i have in this directory or it needs to be absolute or reletive path depending file location

'D:\\DEV_CODE\\DATA_SCIENCE\\PYTHON\\pandas'

In [10]:
import pandas as pd

# CSV

# CSV INPUT

In [8]:
df = pd.read_csv('example') # if type is defined , .format(extension) not required

In [12]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# CSV OUTPUT

In [24]:
df.to_csv('myfile',index=False) # index=false means we are not required to define indexes as columns in df

In [25]:
pd.read_csv('myfile')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15