# Series , a data type for pandas
Indexed by a label

In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
labels = ['a','b','c']
my_data = [10,20,30]
arr =  np.array(my_data)
d = {'a':10 , 'b':20, 'c':30}

In [9]:
pd.Series(data = my_data )

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data = my_data,index = labels ) # customize default index as label

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data,labels ) # short form code

a    10
b    20
c    30
dtype: int64

In [12]:
arr

array([10, 20, 30])

In [14]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [16]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [17]:
d

{'a': 10, 'b': 20, 'c': 30}

In [18]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [19]:
labels

['a', 'b', 'c']

In [20]:
pd.Series(data =  labels)

0    a
1    b
2    c
dtype: object

In [21]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

# Grab Information from Series

In [26]:
ser1 = pd.Series([1,2,3,4],['India','Bharat','Hindustan','Swaraj'])

In [27]:
ser1

India        1
Bharat       2
Hindustan    3
Swaraj       4
dtype: int64

In [28]:
ser2 = pd.Series([1,2,5,4],['India','Bharat','Indian','Swaraj'])

In [33]:
ser2

India     1
Bharat    2
Indian    5
Swaraj    4
dtype: int64

In [35]:
ser2['India']

1

In [30]:
ser3 =  pd.Series(data = labels)

In [31]:
ser3

0    a
1    b
2    c
dtype: object

In [32]:
ser3[0]

'a'

In [36]:
ser1

India        1
Bharat       2
Hindustan    3
Swaraj       4
dtype: int64

In [37]:
ser2

India     1
Bharat    2
Indian    5
Swaraj    4
dtype: int64

In [39]:
ser1 + ser2 # after addition not finding exact matching index , will return Nan , here Hindustan and Indian 
            # integers converts into float

Bharat       4.0
Hindustan    NaN
India        2.0
Indian       NaN
Swaraj       8.0
dtype: float64